p{ 
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
}

h3{ 
  font-family: 'Open Sans', sans-serif;
}

body{ 
  margin: 0;
  height: 1500px;
  
  background-color: rgb(249, 249, 249);
}
