.banner-wrapper{ 
  position: relative;
  width: 1095px;
  margin: 0 auto;
}

.banner{ 
  width: 100%;
}

.banner-text{ 
  position: absolute; 
  font-size: 40px;
  color: white;
  bottom: 30px;
  left: 30px;
}

.dashboard-wrapper{ 
  width: 1100px;
  margin: 0 auto;
  gap: 55px;
  display: flex;
  margin-top: 40px;
} 

.left-side{ 
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 550px;
  height: 1400px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px; color: rgb(238, 238, 238);
  border-width: 0.1px;
  border-style: solid;
} 

.right-side{ 
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.announcements-container{ 
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 550px;
  height: 488px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px; color: rgb(238, 238, 238);
  border-width: 0.1px;
  border-style: solid;
}

.tasks-container{ 
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 550px;
  height: 375px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px; color: rgb(238, 238, 238);
  border-width: 0.1px;
  border-style: solid;
}

.announcement-text{ 
  margin-top: 18px;
  margin-left: 18px;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 16px;
  color: black;
} 

.announcement-content{ 
  margin-left: 18px;
} 
